# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
CMakeSettings.json
xcuserdata/

cmake-build-debug--x64--static
cmake-build-debug--x86--static
cmake-build-release--x64--static
cmake-build-release--x86--static
cmake-build-release--x64--shared--world
cmake-build-release--x64--static--wsl
